@charset "utf-8";

/* 기본서식 하나체 */
@import url(../font/HanaL.woff);
@import url(../font/HanaM.woff);
@import url(../font/HanaB.woff);

@import url(../font/NanumBarunGothic.ttf);
@import url(../font/NanumBarunGothicBold.ttf);
@import url(../font/NanumBarunGothicLight.ttf);
@import url(../font/NanumBarunGothicUltraLight.ttf);

:root{
  --color-black:#231F20;
  --color-green:#008177;
}

body{
  font-family:'나눔 고딕', arial, sans-serif;
  font-size:16px;
  color:var(--f-color01);
}
a{
  text-decoration:none;
  color:var(--f-color01);
}
















.hidden{
  display:none;
}
.flex{
  display:flex;
}