@charset "utf-8";

/* 기본서식 하나체 */
@import url(../font/HanaL.woff);
@import url(../font/HanaM.woff);
@import url(../font/HanaB.woff);

body{
  font-family:'';
  font-size:16px;
  color:#231F20;
}
















.hidden{
  display:none;
}