@charset "utf-8";

/* 기본서식 하나체 */
@import url(../font/Hana2UL.ttf);
@import url(../font/Hana2L.ttf);
@import url(../font/Hana2CM.ttf);
@import url(../font/Hana2M.ttf);
@import url(../font/Hana2B.ttf);
@import url(../font/Hana2H.ttf);

@import url(../font/NanumBarunGothic.ttf);
@import url(../font/NanumBarunGothicBold.ttf);
@import url(../font/NanumBarunGothicLight.ttf);
@import url(../font/NanumBarunGothicUltraLight.ttf);

:root{
  --color-black:#231F20;
  --color-green:#008177;
  --color-red: #D31E37;
}

body{
  font-family:'나눔 고딕', arial, sans-serif;
  font-size:16px;
  color:var(--color-black);
}
a{
  text-decoration:none;
  color:var(--color-black);
}















.hidden{
  display:none;
}
.flex{
  display:flex;
}