@charset "utf-8";

/* 헤더영역 서식 */
header{
  position:absolute;
  width:100%;
  height:200px;
}
header:hover #h_top .select_tab a,
header:hover #h_bot .gnb a,
header:hover #h_bot .lnb a
{
  color:var(--color-black);
}
header:hover #h_top #burger span{
  background-color: var(--color-black);
}
header:hover #h_bot .gnb::after{
  border-top:1px solid rgba(0, 0, 0, 0.1);
}
/* 헤더 상단 */
#h_top{
  width:100%;
  height:120px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#h_top .select_tab{
  margin-left:80px;
}
#h_top .select_tab .lang_tab{
  margin-right:50px;
}
#h_top .select_tab .lang_tab, #h_top .select_tab .f_site{
  position:relative;
  z-index:100;
}
#h_top .select_tab .lang_tab .lang_con, #h_top .select_tab .f_site .site_con{
  position: absolute;
  top:30px;
  z-index:100;
}
#h_top .select_tab .lang_tab .lang_con a, #h_top .select_tab .f_site .site_con a{
  font-family:'나눔 고딕';
  font-size:14px;
  line-height:24px;
  white-space: nowrap;
  transition:0.3s;
}
#h_top .select_tab li a{
  color:#fff;
  /* font-family: 'Hana'; */
  /* font-weight: normal; */
  font-size:16px;
  transition:0.3s;
  width:100%;
  display:block;
}
#logo{
  width:182px;
  height:32px;
  z-index:100;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
}
#logo a img{
  width:100%;
  transition: 0.3s;
}
/* 사이트맵 햄버거 */
#burger{
  margin-right:80px;
  height:30px;
  display:grid;
  grid-template-rows:repeat(3, 1fr);
  justify-items: center;
  z-index:9999;
  cursor: pointer;
}
#burger span{
  background-color: #fff;
  position:relative;
  width:40px;
  height:3px;
  transition:0.3s;
  border-radius: 35px;
}
#burger span:not(#burger span:first-child){
  margin-top:10px;
}
#gnb:checked ~ #h_top #burger .burger1{
  transform: rotate(45deg);
  margin-top:15px;
}
#gnb:checked ~ #h_top #burger .burger2{
  transform: rotate(-45deg);
  margin-top:-3px;
}
#gnb:checked ~ #h_top #burger .burger3{
  transform: scale(0);
}

/* 헤더하단 */
#h_bot{
  width:100%;
  height:80px;
  overflow: hidden;
}
#h_bot .gnb{
  max-width: 1260px;
  width:100%; 
  margin: 0 auto;
  position: relative;
  z-index:100;
}
#h_bot .gnb::after{
  content:'';
  display:block;
  min-width:2440px;
  border-top:1px solid rgba(255,255,255,0.2);
  position:absolute;
  top:0;
  left:-500px;
}
#h_bot .gnb li a:hover ~ #h_bot .lnb{
  display:flex;
}
#h_bot .gnb li a:hover::after{
  /* box-shadow: 0 0 0 3px var(--color-green) inset; */
  width:20%;
  content:'';
  display:block;
  /* border-top: 1px solid var(--color-green); */
  border-top: 1px solid var(--color-black);
  position:absolute;
  top:0;
}
#h_bot .gnb > li{
  width: 20%;
}
#h_bot .gnb > li a{
  /* font-family: "Hana"; */
  /* font-weight: normal; */
  font-size:20px;
  text-align: center;
  width: 100%; 
  line-height: 80px;
  color:#fff;
  display:block;
  white-space: nowrap;
  transition:0.3s;
}
#h_bot .lnb{
  max-width:1260px;
  width:100%;
  position:absolute;
  z-index:101;
  top:200px;
  right:50%;
  transform: translateX(50%);
  display:none;
}
#h_bot .lnb ul{
  width:20%;
  align-items: center;
  flex-direction: column;
}
#h_bot .lnb ul li{
  width:100%;
}
#h_bot .lnb ul li a{
  display: block;
  width:100%;
  font-size:16px;
  line-height:36px;
  text-align: center;
  white-space: nowrap;
  color:#fff;
  transition:0.3s;
}
#hover_bg{
  width:100%;
  height:450px;
  background: rgba(255, 255, 255, 1);
  position:absolute;
  z-index:1;
}