@charset "utf-8";

header{
  background: #444;
}
header:hover{
  background: #fff;
}
main{
  padding-top:200px;
}
#join{
  height:calc(100vh - 336px);
  text-align: center;
}
#join > h2{
  font-size: 30px;
  padding-top:60px;
  padding-bottom: 30px;
}
#join> p{
  font-size: 18px;
  color: #999999;
}
#j_wrap{
  padding-top:20px;
  width:400px;
  margin: 0 auto;
  flex-direction: column;
  text-align: left;
}
#j_wrap > input{
  height:50px;
  margin:5px 0px;
  border:none;
  border-bottom: 1px solid #ddd;
  text-indent: 10px;
}
#j_wrap > input:focus{
  outline-style:none; 
  border-bottom:1px solid var(--color-green); background:#fff;
}
#j_wrap > p{
  margin:5px 0px;
}
#j_wrap > p:first-of-type{
  margin-top:20px;
}
#j_wrap > p:last-of-type{
  margin-bottom:20px;
}
#j_wrap #u_agree{
  accent-color: var(--color-red);
}
#j_wrap #p_agree{
  accent-color: var(--color-red);
}
#j_submit{
  background: var(--color-green);
  color:#fff;
  border:none;
  font-size: 18px;
  cursor: pointer;
}
#j_submit:focus{
  background : var(--color-green) !important;
  border-bottom:1px solid #fff !important;
}