@charset "utf-8";

/* 헤더영역 서식 */
header{
  background-color: #444;
}
header:hover{
  background-color: #fff;
}
#hover_bg:hover{
  background: #fff;
}
main{
  padding-top:200px;
}
#login{
  height: calc(100vh - 336px);
  text-align: center;
}
#login h2{
  font-size: 30px;
  font-weight:bolder;
  padding-top: 100px;
  padding-bottom: 50px;
}
#login> p{
  font-size: 18px;
  color: #999999;
}
#l_wrap{
  padding: 30px 0px;
  width: 400px;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
}
#l_wrap > input{
  height: 50px;
  margin: 5px 0px;
  border: none;
  border-bottom: 1px solid #ddd;
}
#l_wrap > input:focus{
  outline-style:none; 
  border-bottom:1px solid var(--color-green); background:#fff;
}
#i_store{
  accent-color: var(--color-red);
}
.log_info{
  margin: 20px 0px;
  position: relative;
}
.log_info > li:first-child{
  width: 30%;
  text-align: left;
}
.log_info > li:nth-child(2){
  width: 50%;
  text-align:end;
}
.log_info > li:nth-child(2)> a:hover{
  color: var(--color-green);
  font-weight: bold;
}
.log_info >li:last-child{
  width: 20%;
  text-align: end;
}
.log_info >li:last-child span:hover{
  color: var(--color-green);
  font-weight: bold;
}

  #l_wrap >p{
    margin: 5px 0px;
  }
  #l_submit{
    background: var(--color-green);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  #l_submit:focus{
    background : var(--color-green) !important;
    border-bottom:1px solid #fff !important;
  }

  /* 로그인 완료세션 회원정보 */
  .user_info{
    width: 600px;
    height:calc(100vh - 336px);
    margin:0 auto;
  }
  .user_info table{
    width:100%;
    margin: 0 auto;
    border:1px solid var(--color-black);
    border-collapse: collapse;
  }
  .info_h2{
    text-align: center;
    font-size: 30px;
    padding:80px 0px 30px 0px;
  }
  .user_info tr{
    width:100%;
    height:50px;
    line-height:50px;
    text-align: center;
  }
  .user_info th, .user_info td{
    font-size:20px;
  }
  .info_btn{
    width:600px;
    padding-top:30px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .info_btn a:first-child{
    padding-right:20px;
  }



