@charset "utf-8";

/* 푸터영역서식 */
footer{
  width: 100%;
  background: #444;
  color:#fff;
}
#m_footer_wrap{
  width:90%;
  margin: 0 auto;
  padding: 20px 0px;
  align-items: center;
}
#m_footer_wrap .m_address_left> li >h2{
  width:35%; 
}
#m_footer_wrap h2 a img{
  width
  :100%;
}
footer .f_top{
  height: 100px;
}
.m_address{
  justify-content: space-between;
  align-items: center;
  font-family: 'Hana2.0';
  font-size:0.8rem;
  font-style: normal;
  line-height:24px;
}
.m_address_right{
  position:absolute;
  right: 5%;
}
.m_address_left{
  top:0px;
}
.m_address_left li{
  font-weight: bold;
}
.m_address > p{
  font-size: 0.6rem;
  text-align: center;
  padding-top: 10px;
  transform: translateY(10px);
}
.m_address_right li a{
  color:#fff;
}
.m_address_right >  li:nth-child(2n){
  font-weight: bold;
}
.m_address_right > li:nth-child(2n-1){
  font-weight: lighter;
}