@charset "utf-8";

header{
  background: #444;
}
main{
  padding-top:100px;
}
#join{
  height:calc(100vh - 274px);
  text-align: center;
  width: 400px;
  margin : 0 auto;
}
#join > h2{
  font-size: 28px;
  font-weight: bolder;
  padding-top:50px;
  padding-bottom: 30px;
}
#join> p{
  font-size: 16px;
  color: #999999;
}
#j_wrap{
  padding:30px 0px;
  width:400px;
  margin: 0 auto;
  flex-direction: column;
  text-align: left;
}
#j_wrap > input{
  height:50px;
  margin:15px 0px;
  border:none;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  text-indent: 10px;
}
#j_wrap > input:focus{
  outline-style:none; 
  border-bottom:1px solid var(--color-green); background:#fff;
}
label[for="u_agree"]{
  cursor: pointer;
}
label[for="p_agree"]{
  cursor: pointer;
}
#j_wrap > p{
  margin:5px 0px;
  font-size: 12px;
}
#j_wrap > p:first-of-type{
  margin:30px 0px 20px 0px;
}

#j_wrap #u_agree, #j_wrap #p_agree{
  position: relative;
  top: -2.5px;
  width: 20px; height: 20px;
  accent-color: var(--color-red);
}
.j_btnwrap{
  position:relative;
}
#join #j_cancel{
  width: 50%;
  display: inline-block;
  line-height: 55px;
  text-align: center;
  height: 55px;
  background: #fff;
  color: var(--color-green);
  border: 2px solid var(--color-green);
  font-size: 16px;
  cursor:pointer;
}
#j_submit{
  width: 50%;
  height: 55px !important;
  background: var(--color-green);
  color:#fff;
  border:none;
  font-size: 16px !important;
  cursor: pointer;
}
#j_submit:focus{
  background : var(--color-green) !important;
  border-bottom:1px solid #fff !important;
}
