@charset "utf-8";

/* 메인 영역 서식 */

/* 메인 슬라이드 서식 */
#main_slider{
  width:100%;
  height:calc(100vh + 100px);
  position:relative;
  overflow: hidden;
}
#main_slider .m_slider{
}
#main_slider .m_slider .m_slider_list{
  width:300%;
}
#main_slider .m_slider .m_slider_list li{
  width:100%;
}
#main_slider .m_slider .m_slider_list li img{
  width:100%;
  height:calc(100vh + 100px);
}

/* 좌, 우 버튼 서식 */
.d_btn{
  width:100%;
  height:100vh;
  padding:0px 80px;
  justify-content: space-between;
  align-items: center;
  position:absolute;
  top:0;
  color:rgba(255, 255, 255, .6);
}
.d_btn > li{}
.d_btn > li i.fa-chevron-left,.d_btn > li i.fa-chevron-right{
  font-size:50px;
  cursor: pointer;
}

/* 컨트롤 버튼 서식 */
.ctrl_btn{ 
  width: 528px;
  height:5px;
  justify-content: space-evenly;
  align-items: center;
  position:absolute;
  top:850px;
  left:80px;
}
.ctrl_btn > li{
  width:160px;
}
.ctrl_btn > li > .progress_tag{
}


/* 메인 탭메뉴 서식 */
#main_tab{}
#main_tab .m_tab{}
#main_tab .m_tab .m_tab_con{
  width:100%;
  height:100px;
  position:absolute;
  bottom:-100px;
}
#main_tab .m_tab .m_tab_con > ul{
  width:100%;
  height:100%;
  align-items: center;
  text-align: center;
}
.m_tab .m_tab_con > ul > li:not(#main_tab .m_tab .m_tab_con > ul > li:last-child){
  width:16.66666666666667%;
  height:100px;
  background: rgb(255, 255, 255,.6);
  color:#444;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right:1px solid #fff;
  cursor: pointer;
}
#main_tab .m_tab .m_tab_con > ul > li:not(#main_tab .m_tab .m_tab_con > ul > li:last-child):hover{
  background:rgb(0, 129, 119,.6);
  color:#fff;
}
#main_tab .m_tab .m_tab_con > ul > li img{
  width:47px;height:47px;
  margin-bottom:10px;
}
#main_tab .m_tab .m_tab_con > ul > li .t_label{
  width:100%;
  height:100%;
  font-weight: bold;
  font-size:16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main_tab .m_tab .m_tab_con > ul > li:last-child{
  width:50%;
  background:rgb(0, 129, 119,.6);
}
/* 주가정보 탭 */
#main_tab .m_tab .m_tab_con > ul > li:last-child .ii{
  width:100%;
  height:100px;
  justify-content: space-evenly;
  align-items: center;
}
#main_tab .m_tab .m_tab_con > ul > li:last-child .ii li{
  height:100%;
  
}
#main_tab .m_tab .m_tab_con > ul > li:last-child .ii li a{
  height:100%;
  flex-direction: column;
  justify-content: center;
}
#main_tab .m_tab .m_tab_con > ul > li:last-child .ii li:first-child a span,
#main_tab .m_tab .m_tab_con > ul > li:last-child .ii li:first-child a p,
#main_tab .m_tab .m_tab_con > ul > li:last-child .ii li:last-child a span,
#main_tab .m_tab .m_tab_con > ul > li:last-child .ii li:last-child a p
{
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align: left;
}

#main_tab .m_tab .m_tab_con > ul > li:last-child .ii li a #c{
  font-size:20px;
  text-indent: 5px;
  padding-top:10px;
}
#main_tab .m_tab .m_tab_con > ul > li:last-child .ii li a #n{
  padding-top:10px;
}
#main_tab .m_tab .m_tab_con > ul > li:last-child .ii li a .fa-play{
  transform: rotate(90deg);
  color:#00f;
  font-size: 16px;
}
#main_tab .m_tab .m_tab_con > ul > li:last-child .ii li:nth-child(2) a{
  font-size:40px;
  font-weight: bold;
  color:#fff;
}
/* 탭메뉴 컨텐츠 서식 */
#g_check:checked ~ #tab_con #guest,
#i_check:checked ~ #tab_con #investor,
#c_check:checked ~ #tab_con #crew
{
  display:block;
}
#g_check:checked ~ .m_tab .m_tab_con > ul > li:first-child,
#i_check:checked ~ .m_tab .m_tab_con > ul > li:nth-child(2),
#c_check:checked ~ .m_tab .m_tab_con > ul > li:nth-child(3){
  background: none;
}
#main_tab #g_check:checked ~ .m_tab .m_tab_con > ul > li:first-child,
#main_tab #i_check:checked ~ .m_tab .m_tab_con > ul > li:nth-child(2),
#main_tab #c_check:checked ~ .m_tab .m_tab_con > ul > li:nth-child(3)
{
  background:rgb(0, 129, 119,.6);
  color:#fff;
}
#tab_con{
  width:100%;
}
#guest{}
#guest .guest_wrap,
#investor .investor_wrap,
#crew .crew_wrap
{
  width:90%;
  margin:0 auto;
  padding:50px 0px;
}
#guest .guest_wrap > ul,
#investor .investor_wrap > ul,
#crew .crew_wrap > ul
{
  align-items: center;
  gap:50px;
}
#guest .guest_wrap > ul > li,
#investor .investor_wrap > ul > li,
#crew .crew_wrap > ul > li
{
  width:33.3%;
  height:300px;
  border-radius:0 20px 0 20px;
  color:#fff;
}

#guest .guest_wrap > ul > li:hover,
#investor .investor_wrap > ul > li:hover,
#crew .crew_wrap > ul > li:hover{
  box-shadow: 0 0 0 3px var(--color-green);
}
#guest .guest_wrap > ul > li h4,
#investor .investor_wrap > ul > li h4,
#crew .crew_wrap > ul > li h4
{
  font-family: 'Hana2.0';
  font-weight: bold; 
  font-size:24px;
  padding:30px 0px 0px 30px;
}
#guest .guest_wrap > ul > li p,
#investor .investor_wrap > ul > li p,
#crew .crew_wrap > ul > li p
{
  font-weight:bold;
  font-size:16px;
  line-height: 30px;
  padding:20px 30px;
}

/* 탭 컨텐츠 배경이미지 */

#tab_con #guest .guest_wrap > ul > li:first-child{
  background: url(../images/main/tab01.png) center center no-repeat;
  background-size: 550px;
  object-fit: cover;
}
#tab_con #guest .guest_wrap > ul > li:nth-child(2){
  background: url(../images/main/tab02.png) center center no-repeat;
  background-size: 550px;
}
#tab_con #guest .guest_wrap > ul > li:last-child{
  background: url(../images/main/tab03.png) center center no-repeat;
  background-size: 550px;
}

#tab_con #investor .investor_wrap > ul > li:first-child{
  background: url(../images/main/tab04.png) center center no-repeat;
  background-size: 550px;
}
#tab_con #investor .investor_wrap > ul > li:nth-child(2){
  background: url(../images/main/tab05.png) center center no-repeat;
  background-size: 550px;
}
#tab_con #investor .investor_wrap > ul > li:last-child{
  background: url(../images/main/tab06.png) center center no-repeat;
  background-size: 550px;
}

#tab_con #crew .crew_wrap > ul > li:first-child{
  background: url(../images/main/tab07.png) center center no-repeat;
  background-size: 550px;
}
#tab_con #crew .crew_wrap > ul > li:nth-child(2){
  background: url(../images/main/tab08.png) center center no-repeat;
  background-size: 550px;
}
#tab_con #crew .crew_wrap > ul > li:last-child{
  background: url(../images/main/tab09.png) center center no-repeat;
  background-size: 550px;
}

/* 다운로드 서식 */
.t_download{
  padding:5% 0px 0px 30px;
}
.t_download h5, .t_download span{
  font-weight: bold;
  font-size:16px;
  line-height: 21px;
}
.t_download .g_download{
  align-items: center;
  margin-top:20px;
}
.t_download .g_download li{
  width:25%;
  text-align: center;
  color:var(--color-black);
  background: #fff;
  border-radius: 20px;
  padding:10px 0px;
  font-size:12px;
  font-weight: bold;
  margin-right:20px;
}