@charset "utf-8";

/* 메인 영역 서식 */
main

/* 메인 슬라이드 서식 */
#main_slider{
  width:100%;
  height:calc(100vh + 100px);
}
.m_slider_list{
  width:100%;
}
.m_slider_list li{
  width:100%;
  height:calc(100vh + 100px);
  position:absolute;
  transition:0.3s;
}
.m_slider_list li.fadeOut{
  opacity:0;
}
.m_slider_list li.fadeIn{
  z-index:1;
}
.m_slider_list li img{
  width:100%;
  height:calc(100vh + 100px);
  object-fit: cover;
}

/* 좌, 우 버튼 서식 */
.d_btn{
  width:100%;
  padding:0px 80px;
  justify-content: space-between;
  align-items: center;
  position:absolute;
  z-index:1;
  top:50%;
  transform: translateY(-50%);
  color:rgba(255, 255, 255, .6);
}
i.fa-chevron-left, i.fa-chevron-right{
  font-size:50px;
  cursor: pointer;
}

/* 컨트롤 버튼 서식 */
.ctrl_btn{ 
  width: 330px;
  height:5px;
  justify-content: space-evenly;
  position:absolute;
  z-index: 1;
  bottom:80px;
  left:80px;
}
.ctrl_btn li{
  position: relative;
  width:100px;
  height:5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .6);
  cursor: pointer;
}
.ctrl_btn li .bar{
  position:absolute;
  top:0px;
  left:0px;
  width:0px;
  height:5px;
  border-radius: 10px;
  background: var(--color-green);
  cursor: pointer;
}
#slide_btn{
  position:absolute;
  z-index: 100;
  bottom:74px;
  left:416px;
  color: rgba(255, 255, 255, .6);
  cursor: pointer;
}

/* 마우스 */
#down_btn {
  position: absolute;
  z-index: 300;
  bottom: 100px;
  right: 50%;
}
#down_btn span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#down_btn span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
#down_btn span::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 18px;
  height: 18px;
  content: '';
  margin-left: -9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 메인 탭메뉴 서식 */
#main_tab{}
#main_tab .m_tab{
  position: relative;
}
.m_tab_con{
  width:100%;
  min-width:1260px;
  height:100px;
  position:absolute;
  z-index: 3;
  bottom:0px;
  overflow: hidden;
}
.m_tab_con > ul{
  width:100%;
  height:100%;
  align-items: center;
  text-align: center;
}
.m_tab_con > ul > li:not(#main_tab .m_tab .m_tab_con > ul > li:last-child){
  width:16.66666666666667%;
  height:100px;
  background: rgb(255, 255, 255,.6);
  color:#444;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right:1px solid #fff;
  cursor: pointer;
}
.m_tab_con > ul > li:not(#main_tab .m_tab .m_tab_con > ul > li:last-child):hover{
  background:rgb(0, 129, 119,.6);
  color:#fff;
}
.t_label{
  width:100%;
  height:100%;
  font-weight: bold;
  font-size:16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.m_tab_con > ul > li:last-child{
  width:50%;
  background:rgb(0, 129, 119,.6);
}
/* 주가정보 탭 */
.ii{
  width:100%;
  height:100px;
  justify-content: space-evenly;
  align-items: center;
}
.ii li{
  height:100%;
  
}
.ii li a{
  height:100%;
  flex-direction: column;
  justify-content: center;
}
.ii li:first-child a span,
.ii li:first-child a p,
.ii li:last-child a span,
.ii li:last-child a p
{
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align: left;
}

.ii li a #c{
  font-size:20px;
  text-indent: 5px;
  padding-top:10px;
}
.ii li a #n{
  padding-top:10px;
}
#n .fa-play{
  transform: rotate(90deg);
  color:#00f;
  font-size: 16px;
}
.ii li:nth-child(2) a{
  font-size:40px;
  font-weight: bold;
  color:#fff;
}
/* 탭메뉴 컨텐츠 서식 */
#g_check:checked ~ #tab_con #guest,
#i_check:checked ~ #tab_con #investor,
#c_check:checked ~ #tab_con #crew
{
  display:block;
}
#g_check:checked ~ .m_tab .m_tab_con > ul > li:first-child,
#i_check:checked ~ .m_tab .m_tab_con > ul > li:nth-child(2),
#c_check:checked ~ .m_tab .m_tab_con > ul > li:nth-child(3){
  background: none;
}
#main_tab #g_check:checked ~ .m_tab .m_tab_con > ul > li:first-child,
#main_tab #i_check:checked ~ .m_tab .m_tab_con > ul > li:nth-child(2),
#main_tab #c_check:checked ~ .m_tab .m_tab_con > ul > li:nth-child(3)
{
  background:rgb(0, 129, 119,.6);
  color:#fff;
}
#tab_con{
  width:100%;
}
#guest{}
.guest_wrap,
.investor_wrap,
.crew_wrap
{
  width:90%;
  min-width: 1260px;
  margin:0 auto;
  padding:50px 0px;
}
.guest_wrap > ul,
.investor_wrap > ul,
.crew_wrap > ul
{
  align-items: center;
  gap:50px;
  transition:0.5;
}
.guest_wrap > ul > li,
.investor_wrap > ul > li,
.crew_wrap > ul > li
{
  width:33.3%;
  height:300px;
  border-radius:0 20px 0 20px;
  color:#fff;
  transition:0.5s;
  position: relative;
}

.guest_wrap > ul > li h4,
.investor_wrap > ul > li h4,
.crew_wrap > ul > li h4
{
  font-family: 'Hana2.0';
  font-weight: bold; 
  font-size:20px;
  padding:30px 0px 0px 30px;
}
.guest_wrap > ul > li p,
.investor_wrap > ul > li p,
.crew_wrap > ul > li p
{
  font-weight:bold;
  font-size:16px;
  line-height: 30px;
  padding:20px 30px;
}

/* 탭 컨텐츠 배경이미지 */

.guest_wrap > ul > li:first-child{
  background:url(../images/main/tab01.png) center center no-repeat;
  background-size: cover;
}
.guest_wrap > ul > li:nth-child(2){
  background: url(../images/main/tab02.png) center center no-repeat;
  background-size: cover;
}
.guest_wrap > ul > li:last-child{
  background: url(../images/main/tab03.png) center center no-repeat;
  background-size: cover;
}

.investor_wrap > ul > li:first-child{
  background: url(../images/main/tab04.png) center center no-repeat;
  background-size: cover;
}
.investor_wrap > ul > li:nth-child(2){
  background: url(../images/main/tab05.png) center center no-repeat;
  background-size: cover;
}
.investor_wrap > ul > li:last-child{
  background: url(../images/main/tab06.png) center center no-repeat;
  background-size: cover;
}

.crew_wrap > ul > li:first-child{
  background: url(../images/main/tab07.png) center center no-repeat;
  background-size: cover;
}
.crew_wrap > ul > li:nth-child(2){
  background: url(../images/main/tab08.png) center center no-repeat;
  background-size: cover;
}
.crew_wrap > ul > li:last-child{
  background: url(../images/main/tab09.png) center center no-repeat;
  background-size: cover;
}

/* 호버시 이미지 어둡게, 스케일 */
.guest_wrap > ul > li:first-child:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)), url(../images/main/tab01.png);
  background-position: center center;
}
.guest_wrap > ul > li:nth-child(2):hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)), url(../images/main/tab02.png);
  background-position: center center;
}
.guest_wrap > ul > li:last-child:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)), url(../images/main/tab03.png);
  background-position: center center;
}
.investor_wrap > ul > li:first-child:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)), url(../images/main/tab04.png);
  background-position: center center;
}
.investor_wrap > ul > li:nth-child(2):hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)), url(../images/main/tab05.png);
  background-position: center center;
}
.investor_wrap > ul > li:last-child:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)), url(../images/main/tab06.png);
  background-position: center center;
}
.crew_wrap > ul > li:first-child:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)), url(../images/main/tab07.png);
  background-position: center center;
}
.crew_wrap > ul > li:nth-child(2):hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)), url(../images/main/tab08.png);
  background-position: center center;
}
.crew_wrap > ul > li:last-child:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.427), rgba(0, 0, 0, 0.4)), url(../images/main/tab09.png);
  background-position: center center;
}

/* 다운로드 서식 */
.t_download{
  padding:0px 0px 0px 30px;
}
.t_download h5, .t_download span{
  font-weight: bold;
  font-size:16px;
  line-height: 21px;
}
.g_download{
  align-items: center;
  margin-top:20px;
}
.g_download li{
  width:160px;
  text-align: center;
  color:var(--color-black);
  background: #fff;
  border-radius: 20px;
  font-size:12px;
  line-height: 32px;
  font-weight: bold;
  margin-right:16px;
}
.g_download li a{
  line-height: 32px;
  justify-content: space-evenly;
  align-items: center;
}

.t_more{
  position:absolute;
  top:30px;
  right:20px;
  align-items: center;
  font-size:12px;
  cursor: pointer;
}
.t_more a{
  color:#fff;
}
.t_more i.fa-angle-right{
  margin-left:5px;
}