@charset "utf-8";

/* 원형내비게이션 #m_nav서식 */
#m_nav{
  position: fixed;
  right: 40px;
  top: 38%;
  z-index: 1;
}
#m_nav > ul{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#m_nav > ul > li{
  height: 30px;
  width: 30px;
  line-height: 30px;
  background: rgba(54, 54, 54, 0.5);
  border-radius: 50px;
  margin: 10px 0px;
  text-align: center;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
#m_nav a{
  width: 100%;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
#m_nav > ul > li > span{
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 50%;
  color: #fff;
  background: #7B7B7B;
  position: absolute;
  left: 0px;
}
#m_nav > ul > li:hover{
  width:150px;
}

/* main itro 서식 */
.main_intro{
  position: relative;
  background-image: url(../images/sub/intro_img.jpg);
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/sub/intro_img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.main_intro > h3{
  display: none;
}
.main_intro > p{
  position: absolute;
  text-align: center;
}
.main_intro > p:first-of-type{
  top: 37%;
  right: 50%;
  transform: translate(50%, 50%);
  font-size: 40px;
  color: #ffff;
  font-weight: bold;
  font-family: 'Hana2.0';
}
.main_intro > p:last-of-type{
  top: 45%;
  right: 50%;
  transform: translate(50%, 50%);
  font-size: 20px;
  color: #fff;
  line-height: 35px;
  font-weight: 400;
}
.main_intro > a {
  position: absolute;
  bottom: 100px;
  right: 50%;
}
.main_intro > a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.main_intro > a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
.main_intro > a span::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 18px;
  height: 18px;
  content: '';
  margin-left: -9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 하나금융 소개 .intro 서식 */
.intro{
  width: 100%;
}
.intro > h3{
  display: none;
}
.intro > .intro_wrap > h4{
  position: absolute;
  font-size: 40px;
  color: #fff;
  font-family: 'Hana2.0';
  top: 250px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.intro > .intro_wrap > p{
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 310px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.intro > .intro_wrap{
  position: relative;
}
.intro > .intro_wrap .intro_bg{
  background-image: url(../images/sub/intro_bg.jpg);
  background-repeat: no-repeat;
  background-size: 200%;
  height: 100vh;
}
.intro > .intro_wrap > .intro_bg > ul{
  margin: 0px auto;
  width: 1200px;
  padding: 450px 0px;
  display: flex;
  justify-content: space-around;
  color: #fff;
  text-align: center;
}
.intro >.intro_wrap > .intro_bg > ul > li{

}
.intro >.intro_wrap > .intro_bg > ul > li > p{
  line-height: 23px;
  font-size: 18px;
}
.intro >.intro_wrap > .intro_bg > ul > li > p:first-of-type{
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 3px solid #D91B27;
}
.intro >.intro_wrap > .intro_bg > ul > li > div{
  width: 50px;
  height: 50px;
  padding: 50px;
  margin: 0px auto;
  background: #fff;
  border-radius: 50%;
  position: relative;
}
.intro >.intro_wrap > .intro_bg > ul > li > div > img{
  width: 40px;
  position: absolute;
  top: 30%;
  left: 30%;
}
.intro >.intro_wrap > .intro_bg > ul > li > p:nth-of-type(2){
  padding-top: 30px;
}
.intro >.intro_wrap > .intro_bg > ul > li > p:nth-of-type(2) > span{
  font-size: 40px;
  font-weight: bold;
}
.intro >.intro_wrap > .intro_bg > ul > li > p:last-of-type{
  color: #C0C0C0;
  padding-top: 12px;
  line-height: 20px;
}

/* 하나금융 미션과 비전 .mission 서식 */
.mission{
  width: 100%;
  background-image: url(../images/sub/mission_bg.jpg);
  background-size: 100%;
  padding: 170px 0px;
}
.mission >  h3{
  display: none;
}
.mission > article > h4{
  display: none;
}
.mission > article > div{
  text-align: center;
  color: #fff;
}
.mission > article > .mission_box{
  width: 1100px;
  margin: 0px auto;
  background: rgba(27,27,27,.78);
  border-radius: 30px;
  padding: 56px 0px;
  margin-bottom: 100px;
  position: relative;
  left: -5000px; /* 초기 위치를 스크롤 위치에서 왼쪽으로 이동 */
  transition: 1s ease-out; /* 이동 시 애니메이션 효과 추가 */
}
.mission_box.show {
  left: 5000px; /* 스크롤 위치에 도달하면 왼쪽에서 나타나게 함 */
}
.mission > article > .mission_box > p:first-of-type{
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 28px;
}
.mission > article > .mission_box > p:nth-of-type(2){
  font-size: 24px;
  font-weight: bold;
  color: #419390;
  padding-bottom: 42px;
}
.mission > article > .mission_box > p:nth-of-type(3){
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 50px;
}
.mission > article > .mission_box > p:last-of-type{
  font-size: 20px;
  line-height: 30px;
}
.mission > article > .vision_box{
  width: 1100px;
  margin: 0px auto;
  background: rgba(27,27,27,.78);
  border-radius: 30px;
  padding: 56px 0px;
}
.mission > article > .vision_box > p:first-of-type{
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 28px;
}
.mission > article > .vision_box > p:nth-of-type(2){
  font-size: 24px;
  font-weight: bold;
  color: #419390;
  padding-bottom: 42px;
}
.mission > article > .vision_box > p:nth-of-type(3){
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 50px;
}
.mission > article > .vision_box > p:last-of-type{
  font-size: 20px;
  line-height: 30px;
}

/* 연혁 .history */
.history{
  background: var(--color-black);
  padding: 200px 0px;
}
.history > h3{
  display: none;
}
.history > article{
  color: #fff;
  position: relative;
}
.history > article > h3{
  font-family: 'Hana2.0';
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}
.history > article > img{
  width: 60px;
  position: absolute;
  left: 39%;
}
.history > article > dl{
  width: 850px;
  margin: 0px auto;
  z-index: -1;
}
.history > article > dl::after{
  position: absolute;
  height: 1190px;
  width: 2px;
  background: #7B7B7B;
  content: '';
  transform: translate(113px, -1200px);
}
.history > article > dl > dt{
  text-align: left;
  color: #7B7B7B;
  font-size: 32px;
  font-weight: 700;
  padding-top: 150px;
  display: inline-block;
}
.history > article > dl > dt::after{
  position: absolute;
  z-index: 1;
  content: '';
  width: 32px;
  height: 32px;
  display: inline-block;
  background: #7B7B7B;
  border-radius: 50%;
  transform: translate(26px, 0px);
}
.history_on{
  border: 5px solid #fff;
  background: var(--color-black);
  box-sizing: border-box;
}
.history > article > dl > dd{
  text-indent: 150px;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}
.history > article > dl > dd > span{
  font-weight: 600;
  font-size: 28px;
  color:#7B7B7B;
  padding-right: 10px;
}


/* 전략목표 .strategy 서식 */
.strategy{
}
.strategy > h3{
  display: none;
}
.strategy > article{
  position: relative;
}
.strategy > article > h3,p{
  /* position: absolute; */
  z-index: 1;
}
.strategy > article > ul{
  display: flex;
}
.strategy > article > ul > li{
  position: relative;
  text-align: center;
}
.strategy > article > ul > li > div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.strategy > article > ul > li > div > p{
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
}
.strategy > article > ul > li > div > span{
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  display: block;
  padding-bottom: 17px;
}
.strategy > article > ul > li > div > img{
  width: 15%;
}
.strategy > article > ul > li img{
  width: 100%;
}
.strategy .hidden_box{
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.9);
  display: none;
}
.strategy .hidden_box > div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.strategy .hidden_box > div > p:first-of-type{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}
.strategy .hidden_box > div > p:first-of-type > span{
  color: var(--color-green);
}
.strategy .hidden_box > div > p:last-of-type{
  font-size: 18px;
  line-height: 25px;
}
.strategy .hidden_box > div > img{
  padding-top: 17px;
  width: 30.83px;
  transform: rotate(45deg);
}


/* 하나인의 정직 .trust 서식 */
.trust{
  padding: 150px;
}
.trust > h3{
  display: none;
}
.trust > article{
  width: 1200px;
  margin: 0px auto;
}
.trust > article > h2{
  font-family: 'hana2.0';
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 30px;
}
.trust > article img{
  width: 100%;
  padding-bottom: 30px;
}
.trust > article > h3{
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 30px;
}
.trust > article > h4{
  font-size: 24px;
  font-weight: 600;
  color: #419390;
  padding-bottom: 30px;
}
.trust > article > p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 90px;
}
.trust > article > ul{
  display: flex;
  justify-content: space-between;
}
.trust > article > ul > li > strong{
  display: block;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}
.trust > article > ul > li > p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.hana_pr{
  padding: 100px 0px 150px;
}
.hana_pr > h3{
  display: none;
}
.hana_pr > article{
  width: 1200px;
  margin: 0px auto;
}
.hana_pr > article > h2{
  font-size: 24px;
  font-weight: 600;
  color: #419390;
  padding-bottom: 10px
}
.hana_pr > article > h3{
  font-family: 'hana2.0';
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 40px;
}
.hana_pr > article > .video_box{
  position: relative;
}
.hana_pr > article > .video_box img{
  width: 100%;
}
.hana_pr > article > .video_box > .text_box{
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.hana_pr > article > .video_box > .text_box > p{
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
  color: #fff;
}
.hana_pr > article > .video_box > .play_btn{
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.hana_pr > article > .video_box > .play_btn > .fas{
  font-size: 50px;
  color: var(--color-black);
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


